.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height:  40px;
  padding: 10px;
  color: white;
}

.App-header h2{
  margin:0px;
}

.App-Content{
  min-height: 500px;
  width:100%;
}

.App-graph-area{
  float:left;
  background-color:blue;
  width:50%;
  height:100%;
}

.App-map-area{
  float:right;
  width:50%;
  height:100%;
}

#map {
  width: 100%;
  height: 400px;
}
