body {
  margin:0px;
}

.App {
  text-align: center;
}

.App-header {
  margin:0px;
  background-color: #222;
  height:30px;
  padding: 10px;
  color: white;
}

.App-header h2{
  margin:5px;
  font: 18px sans-serif;
}

.App-content{
  margin:20px 0 20px 0;
  float:left;
  width:100%;
}

.title {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: grey;
}

.App-chart-area{
  float:left;
  width:50%;
}

.App-map-area{
  float:right;
  width:50%;
}

#map {
  margin-top:20px;
  width: 97%;
  height: 500px;
}

#tooltip {
  width: 90px;
  height: 80px;
  background-color: white;
  border: 1px solid black;
  color:black;
  transition: all 100ms ease-in;
  border-radius: 4px;
  display: inline-block;
  font-size:12px;
}

#tooltip:before {
  content: '';
  display: block;
  position: absolute;
  left: 34px;
  top: 81px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: black;
}

#tooltip:after {
  content: '';
  display: block;
  position: absolute;
  left: 35px;
  top: 81px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-top-color: white;
}

#tooltip span {
  padding:5px 5px 0px 5px;
  float:left;
  display:inline-block;
  font-size:11px;
  font-family: arial;
}

#TimeSlider {
  width:80%;
  margin:48px auto 40px auto;
}

.rangeslider__fill {
  background-color: steelblue !important;
  border-radius: 0 !important;
}

/* overriding slider styles */

.rangeslider__tooltip {
  background-color: #36355f !important;
  width:64px !important;
  height:38px !important;
  left:-25px;
}

.rangeslider__tooltip:after {
  left:24px !important;
  border-top: 8px solid #36355f !important;
}

.rangeslider__handle {
  width: 15px !important;
  height: 30px !important;
  border-radius: 0 !important;
}

.rangeslider-horizontal{
  border-radius: 0px !important;
}

.rangeslider__handle:after {
    display:none;
}

/* chart */

.chartTitle {
  margin-bottom:20px;
}

#BarChart {
  margin-top:40px;
  width:100%;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: orange;
}

.d3-tip {
  line-height: 1.4;
  padding: 6px;
  background-color: #36355f;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
